@import "~@holema/datepicker/dist/duDatepicker.css";
@import "~@holema/mdtimepicker/dist/mdtimepicker.css";
.mdtimepicker, .dcalendarpicker.dp__open {
    background-color: transparent;
}
.mdtimepicker, .dcalendarpicker{
    display: flex;
    justify-content: center;
    align-items: center
}
.mdtp__wrapper, .dudp__wrapper{
    bottom: unset!important;
}